body {
	font-family: 'Roboto Mono', monospace;
	font-size: small;

	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: center;

	max-width: 72em;
	min-height: 100vh;
	overflow-y: scroll;

	margin: 0 auto;
}

main, aside {
	margin-bottom: 2em;
}

main, header, footer {
	display: flex;
}

main, header {
	flex-flow: column nowrap;
	align-items: stretch;
}

main {
	flex-grow: 1;
}

header {
	background: #555;
	color: white;
	text-shadow: 0 0 10px black;
	box-shadow: 0 0 2px 0px black;
	padding-bottom: 1em;
}

footer {
	flex-flow: row wrap;
	justify-content: center;
	margin: 2em 0;
}

.teams {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

header, .teams, .spectators {
	margin-bottom: 1em;
}

.teams, .spectators, .serverlist, footer {
	padding: 0 .5em;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	margin: 1.5em 0;
}

h3 {
	font-weight: normal;
	text-transform: uppercase;
}

.team-table {
	flex-basis: 30em;
}

table {
	min-width: 100%;
	border-collapse: collapse;
}

thead {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #bbb;
}

td {
	padding: .25em .75em;
	max-width: 20em;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td + td {
	border-left: 1px solid #bbb;
}

.spectator {
	display: inline-block;
	margin: .75em 0;
}

.spectator + .spectator {
	padding-left: 2em;
}

a {
	color: #2564a2;
}

.subtle {
	color: inherit;
}

.count {
	text-align: right;
}

.centered {
	text-align: center;
}

header > *, .teams > *, #serverlist, .team-table > * {
	overflow-x: auto;
	white-space: nowrap;
}