body {
	font-family: 'Roboto Mono', monospace;
	font-size: small;

	max-width: 72em;
	min-height: 100vh;
	margin: 0 auto;

	justify-content: space-between;

	overflow-y: scroll;
}

body, main, aside, footer, .teams {
	display: flex;
}

body, main, aside {
	flex-grow: 1;
	flex-flow: column nowrap;
	align-items: stretch;
}

footer, .teams {
	flex-flow: row wrap;
	justify-content: space-around;
}

main, aside, footer {
	margin-bottom: 2em;
}

main > *, aside > *, footer > * {
	padding: 0 .5em;
}

header {
	background: url('//sauertracker.net/images/mapshots/firstevermap.jpg') no-repeat center center / cover;
	color: white;
	text-shadow: 0 0 10px black;
	box-shadow: 0 0 2px 0px black;
	margin-bottom: 1em;
}

aside {
	color: #666;
}

.team-table {
	flex-basis: 30em;
}

header > *, .teams > *, .team-table > *, #serverlist {
	overflow-x: auto;
	white-space: nowrap;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	margin: 1.5em 0;
}

h3 {
	font-weight: normal;
	text-transform: uppercase;
}

table {
	min-width: 100%;
	border-collapse: collapse;
}

thead {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #bbb;
}

td {
	padding: .25em .75em;
	max-width: 20em;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td + td {
	border-left: 1px solid #bbb;
}

a {
	color: #2564a2;
}

.spectator {
	display: inline-block;
	margin: 0 0 .75em 0;
}

.spectator + .spectator {
	padding-left: 2em;
}

.subtle {
	color: inherit;
}

.count {
	text-align: right;
}

.centered {
	text-align: center;
}
