* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Mono', monospace;
	font-size: .9em;

	max-width: 72em;
	min-height: 100vh;
	margin: 0 auto;

	overflow-y: scroll;
}

.flex {
	display: flex;
}

.flex-col {
	flex-flow: column nowrap;
	align-items: stretch;
}

.flex-row {
	flex-flow: row wrap;
	justify-content: space-around;
}

#scoreboard, #serverlist, footer {
	margin-bottom: 1em;
}

#scoreboard {
	background: url('//sauertracker.net/images/mapshots/firstevermap.jpg') no-repeat center center / cover, #555;
	background-blend-mode: overlay;
	color: white;
	text-shadow: 0 0 10px black;
	box-shadow: 0 0 2px 0px black;
}

header, #serverlist, .flex-row > * {
	padding: 0 .5em 1em .5em;
}

.team {
	flex-basis: 30em;
}

#serverlist {
	flex-grow: 1;
	justify-content: flex-end;
}

header, .team, #serverlist {
	overflow-x: hidden;
}

.scrollable-x {
	white-space: nowrap;
	overflow-x: auto;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	margin: 1.5em 0;
}

h2, h3 {
	margin: 1em 0;
}

h3 {
	font-weight: normal;
	text-transform: uppercase;
}

table {
	min-width: 100%;
	border-collapse: collapse;
}

thead {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #bbb;
}

td {
	padding: .25em .75em;
	max-width: 20em;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td + td {
	border-left: 1px solid #bbb;
}

a {
	color: #2564a2;
}

.subtle {
	color: inherit;
}

.count {
	text-align: right;
}

.centered {
	justify-content: center;
	text-align: center;
}
