@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--main-bg-color: white;
	--main-fg-color: black;
	--border-color: black;

	--text-shadow-blur-radius: .5em;
}

@media (prefers-color-scheme: dark) {
	:root {
	  --main-bg-color: black;
	  --main-fg-color: white;
	  --border-color: #777;
	}
}

html {
	background: var(--main-bg-color);
	color: var(--main-fg-color);
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 12pt;
	font-weight: 500;

	max-width: 72em;
	min-height: 100vh;
	margin: 0 auto;

	overflow-y: scroll;
}

.flex {
	display: flex;
}

.flex-col {
	flex-flow: column nowrap;
	align-items: stretch;
}

.flex-row {
	flex-flow: row wrap;
	justify-content: space-around;
}

main, aside, footer {
	margin-bottom: 1em;
}

#scoreboard {
	padding-bottom: 1em;
	background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('//sauertracker.net/images/mapshots/firstevermap.jpg') no-repeat center center / cover;
	color: white;
	text-shadow: 0 0 var(--text-shadow-blur-radius) black;
	box-shadow: 0 0 2px 0px var(--border-color);
}

header, #serverlist, .flex-row > * {
	padding: 0 .5em 1em .5em;
}

.team {
	flex-basis: 32em;
}

#serverlist {
	flex-grow: 1;
	justify-content: flex-end;
}

header, .team, #serverlist {
	overflow-x: hidden;
}

.scrollable-x {
	white-space: nowrap;
	overflow-x: auto;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	margin: 1.5em 0;
}

h2, h3 {
	margin: 1em 0;
}

h3 {
	font-weight: normal;
}

#scoreboard h3 {
	padding: var(--text-shadow-blur-radius);
	margin: 0 auto;
}

table {
	min-width: 100%;
	border-collapse: collapse;
}

thead {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #bbb;
}

td {
	padding: .25em .75em;
	max-width: 20em;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td + td {
	border-left: 1px solid #bbb;
}

a {
	color: #2564a2;
}

a.subtle {
	color: inherit;
}

.count {
	text-align: right;
}

.centered {
	justify-content: center;
	text-align: center;
}

.priv-master {
	color: #40FF80;
}

.priv-auth {
	color: #E838FF;
}

.priv-admin {
	color: #FF8000;
}

.cn {
	opacity: .3;
}
