<!doctype html>
<html>

<head>
	<title>monitor // extinfo-web</title>
	<script src="https://npmcdn.com/vue/dist/vue.js"></script>
	<script src='/extinfo_detailed.js'></script>
	<link rel='stylesheet' href='/style_full.css'>
	<meta name='viewport' content='width=device-width, initial-scale=1' />
</head>

<body onload='init();' spellcheck='false'>

	<div id='scoreboard'>
		<table id="serverinfo">
			<tr>
				<td colspan='4'>
					<h1>{{info.description}}</h1>
				</td>
			</tr>
			<tr>
				<td>
					<span class='bold'>{{info.gameMode}}</span> on <span class='bold'>{{info.map}}</span>
				</td>
				<td>{{int2string(info.secsLeft)}}</td>
				<td>{{info.masterMode}}</td>
				<td>
					<span>{{info.numberOfClients}}</span>/<span>{{info.maxNumberOfClients}}</span>
				</td>
			</tr>
		</table>

		<div v-for='team in teams'>
			<h2>{{team.name}}: {{team.score}}</h2>

			<table>
				<thead>
					<tr>
						<td>Frags</td>
						<td>Deaths</td>
						<td>Accuracy</td>
						<td>Name</td>
						<td>CN</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for='player in team.players'>
						<td>{{player.frags}}</td>
						<td>{{player.deaths}}</td>
						<td>{{player.accuracy}}</td>
						<td>{{player.name}}</td>
						<td>{{player.clientNum}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script>
		window.data = {
			info: {},
			teams: {}
		}

		new Vue({
			el: '#scoreboard',
			data: data,
			methods: {
				int2string: function(secondsLeft) {
					var minutes = Math.floor(secondsLeft/60)
					var seconds = secondsLeft % 60
					return (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds
				}
			}
		})
	</script>
</body>

</html>