<!doctype html>
<html>
<head>
	<title>status // extinfo-web</title>
	<script src="http://use.edgefonts.net/open-sans.js"></script>
	<link rel="stylesheet" href="/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
	<h1>
		status // <a href="/">extinfo-web</a>
	</h1>
	{{if len .}}
		<table>
			<thead>
				<tr>
					<td>Host</td>
					<td>IP</td>
					<td>Port</td>
					<td>Subscribers</td>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					<tr>
						<td>{{.Hostname}}</td>
						<td>{{.Address.IP}}</td>
						<td>{{.Address.Port}}</td>
						<td class="count">{{len .Subscribers}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>
			no connections at the moment
		</p>
	{{end}}
	<p>note</p>
	<small>
		this page has no live updates
	</small>
</body>
</html>
